.badge {
  background-color: rgb(0, 197, 0);
  width: auto;
  height: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
}