.grid-block {
  display: flex;
  flex-direction: column;
  background-color: #DCDCDC;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.product-image {
  border-radius: 10px;
}

.product-title {
  margin-top: 10px;
  font-family: 'Arial';
  font-size: 20px;
}

.product-price {
  color: #10c44c;
  font-weight: 800;
  font-family: 'Arial';
  font-size: 25px;
}

.product-manufacturer {
  margin-top: 10px;
  font-weight: 800;
  font-family: 'Arial';
  font-size: 15px;
}

.price-and-badge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-and-badge {
  margin-top: 10px;
}

.badge-block {
  display: flex;
  flex-direction: row;
}