.main {
  width: 1200px;
  min-height: 1000px;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, fit-content(33%));
}

.grid-block {
  display: flex;
  flex-direction: column;
  background-color: #DCDCDC;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.product-image {
  border-radius: 10px;
}

.product-title {
  margin-top: 10px;
  font-family: 'Arial';
  font-size: 20px;
}

.product-price {
  margin-top: 10px;
  color: #10c44c;
  font-weight: 800;
  font-family: 'Arial';
  font-size: 25px;
}

.product-manufacturer {
  margin-top: 10px;
  font-weight: 800;
  font-family: 'Arial';
  font-size: 15px;
}

/* .header {
  height: 100px;
  background-color: #EBEBEB;
} */

/* .footer {
  height: 100px;
  background-color: #EBEBEB; 
} */

.pagination {
  height: 50px;
  display: flex;
  justify-content: center;
}

.page-number-input {
  width: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}