.pagination {
	height: 50px;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.page-number-input {
	width: 30px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	border-radius: 10px;
	border-width: 0.5px;
}

.pagination-button {
	padding: 10px;
}

.pagination-button:hover {
	background-color: #EBEBEB;
	border-radius: 10px;
}