.block-button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  background-color: #005bff;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

.success {
  background-color: #18bb06;
}

.danger {
  background-color: #e30707;
}

.href-block {
  text-decoration: none;
  width: auto;
  text-align: center;
}